header {
    display: flex;
    background-color: var(--menu-background-color);
    gap: 2rem;
    padding: 0.5rem;
}

header nav{
    display: flex;
    gap: 1.5rem;
    overflow: scroll;
    text-align: center;
    align-items: center;
}

header img {
    display: flex;
    border-radius: 50%;
    width: 2.2rem;
}

header a{
    text-decoration: none;
    background: var(--button-background-color);
    color: #fff;
    padding: 0.5rem;
    border-radius: 2rem;
    font-size: 0.85rem;
}

header h2{
    align-items: center;
    color:#fff;
}